* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
body {
    margin: 0vh;
    padding: 0vh;
    width: 100%;
    height: 100%;
    user-select: none;
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-image: linear-gradient(to right, #3ab5b0 0%, #3d99be 31%, #56317a 100%); */
    /* background-image: linear-gradient(-225deg, #5271C4 0%, #B19FFF 48%, #ECA1FE 100%); */
    background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
}


.border {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 30px solid transparent;
    border-image: url("../img/border1.png") 30 round;
}

.logo {
    display: inline;
}

.logo img {
    width: 120px;
    height: 120px;
}

/*----------------------nav baar start---------------------------------*/

.navbar {
    width: 80%;
    float: right;
}

nav {
    flex: 1px;
    text-align: right;
    border-radius: 10px 60px 10px 60px;
    background: rgba(88, 104, 129, 0.185);
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0px;
    
}

ul li {
    display: inline-block;
    margin: 0px 20px;
    font-size: 25px;
}

nav ul li a {
    display: block;
    color: rgb(0, 0, 0);
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 0px 60px 10px 60px;
    transition: background-color 1.1s;
}

nav ul li a:hover {
    border-radius: 0px 60px 10px 60px;
    background-color: rgba(0, 0, 0, 0.123);
    transition: background-color 0.7s;
    cursor: pointer;
}

/*-------------------------nav baar end-------------------------------*/

section h1 {
    font-size: 2.5rem;
    color: rgb(0, 0, 0);
    text-align: center;
    justify-content: center;
    margin-top: 1vh;
    display:flex;
    text-shadow: 2px 3px 2px rgb(184, 172, 172);
    font-family: 'Press Start 2P', cursive;
    letter-spacing: 3px;
}

.container {
    padding: 0% 0%;
    /* border: 4px solid black; */
    /* box-shadow: 7px 7px 4px #999; */
    box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    width: 80%;
    margin: auto;
    height: auto;
}

.items {
    padding: 5% 15%;
    justify-content: space-evenly;
    
}

.container p {
    padding-top: 3%;
}

.container .div_content {
    overflow: hidden;
    background-size: contain;
}

.container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#heart-beat{
    mix-blend-mode: multiply;
    height:min-content;
}

#breath-img{
    width: 50%;
    display: flex;
    margin:auto;
}

.container p {
    font-size: 1.5rem;
}


/* __________________________calender image css________________________________________ */



.calendar {
    
    margin: auto;
    max-width: fit-content;
    background-color: rgb(255, 255, 255);
    border: 3px solid black;
    text-align: center;
    justify-content: center;
    border-radius: 8px;
    overflow: hidden;
    -webkit-box-reflect: below 1px linear-gradient(transparent, transparent, #0004);
    background-color: #E4E4E1;
    background-image: linear-gradient(to top, #d5d4d0 0%, #d5d4d0 1%, #eeeeec 31%, #efeeec 75%, #e9e9e7 100%);   
}

.calendar #monthName {
    position: relative;
    padding: 5px 10px;
    background: #ff6331 !important;
    display: flex;
    justify-content: center;
    text-align: center;
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 3.5px !important;
}

.calendar #dayName {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 300;
    color: #999;
}

.calendar #dayNumber {
    margin-top: 0px;
    line-height: 1em;
    font-size: 80px;
    font-weight: 700;
    color: #333;
}

.calendar #year {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 500;
    color: #999;
}

/* text shadow */
.navbar li a,.container_text p{
    text-shadow: 1px 1px 1px rgb(184, 172, 172);
    font-family: 'Press Start 2P', cursive;
    letter-spacing: 2px;
    
}

/* ___________________________________xxxxxx____________________________________ */