/* --------------------------------------input details Quetty--------------------------------- */

@media only screen and (max-width: 290px) {
   
    .imgdiv img {
        width: 180px;
        height: 180px;
    }
    #main_date {
        width: 65%;
    }
    #nameid {
        width: 65%;
    }
    section h1 {
        font-size: 1.2rem;
    }
    .centerDiv label {
        text-align: center;
        font-size: 1.3rem
    }
}

@media only screen and (max-width: 363px) {
.imgdiv img{
    width: 190px;
    height: 190px;
}

}

/* --------------------------------------input details Quetty end--------------------------------- */

/* ----------------------------nav baar querry-------------------------------------------- */

@media only screen and (max-width: 760px) {
    table td {
        display: contents;
    }
    
}

@media only screen and (max-width: 784px) {
    .container {
        width: 100%;
    }
    .navbar {
        width: 100%;
        float: none;
    }
    nav {
        text-align: center;
        border-radius: 10px 10px 10px 10px;
    }
    ul li {
        display: block;
        margin: 0px 0px;
        font-size: 25px;
        padding: 10px 0px;
    }
    nav ul li a {
        border-radius: 10px 10px 10px 10px;
        transition: background-color 1.1s;
    }
    nav ul li a:hover {
        border-radius: 10px 10px 10px 10px;
        background-color: rgba(0, 0, 0, 0.123);
        transition: background-color 1.1s;
        cursor: pointer;
    }
    .logo img {
        margin: auto;
        display: flex;
    }
    .border {
        border: 5px solid transparent;
        border-image: none;
    }
    .centerDiv {
        width: 85%;
    }
}

@media only screen and (max-width: 945px) {
    table {
        margin: auto;
        padding: 50px 0px;
        text-align: center;
        border-spacing: 10px 50px;
    }
    .centerDiv {
        width: auto;
    }
    table h2{
        
            width: auto;
        
    }
}

/* ----------------------------nav baar querry end-------------------------------------------- */