@media only screen and (max-width : 598px){
    .centerDiv{
        width: 90%;
    }   
}

@media only screen and (max-width : 420px){
    .centerDiv{
        width: 90%;       
    }   
}
@media only screen and (max-height: 700px){
    .centerDiv{
        flex-direction: initial;
    }
}

@media only screen and (max-width : 389px){
    section h1{ 
        font-size:2.1rem; 
        
    }
    .details .date{
        width: 50px;
    }
}



@media only screen and (max-width : 770px){

    .centerDiv{
        width: 90%;       
    }  
    .navbar{
        width:50%;
    }

    ul li{
        display: block;
        margin: 0px 20px;
        font-size: 25px;
    }
}
@media only screen and (max-width : 690px){
  
    .details .date{
        width: 250px;
    }
}

@media only screen and (max-width : 375px ){
  
    section h1 {
    font-size: 1.5rem;
    }
    #nameid{
        width:80%
    }
    .details .date{
        width: 220px;
    }
    .navbar{
        flex: 1px;
    text-align: right;
    border-radius: 10px 60px 10px 60px;
    background:rgba(88, 104, 129, 0.185);
    }
   
}
@media only screen and (max-width : 1024px){
.border{
    position: relative;
    
}
}