*{
    margin: 0vh;
    padding: 0vh;
    
}
body{
    margin: 0vh;
    padding: 0vh;
    width: 100%;
    height: 100%;
    user-select: none;
    font-family: 'Bungee', cursive;
    font-family: 'Press Start 2P', cursive;
    letter-spacing: 3px;
    background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
    
} 
 .border{
    
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 30px solid transparent;
    border-image: url("../img/border1.png") 30 round;
}


 .logo{
     display: inline;
}
.logo img{
    width: 120px;
    height: 120px;
}
/*----------------------nav baar start---------------------------------*/
.navbar{
    
    width: 80%;
    float: right;
    
}
nav{
    flex: 1px;
    text-align: right;
    border-radius: 10px 60px 10px 60px;
    background:rgba(88, 104, 129, 0.185);
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0px;
  }

ul li{
    display: inline-block;
    margin: 0px 20px;
    font-size: 25px;
}
nav ul li a {
    display: block;
    color: rgb(0, 0, 0);
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 0px 60px 10px 60px;
    transition: background-color 1.1s ;
    }
  nav ul li a:hover{
    border-radius: 0px 60px 10px 60px;
    background-color: rgba(0, 0, 0, 0.123);
    transition: background-color 1.1s ;
    cursor: pointer;
}
  /*-------------------------nav baar end-------------------------------*/




.container{
    width: 100%;
    height: 100%;  
}

section{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; 
}

section h1{ 
    font-size:2.5rem; 
    color: rgb(0, 0, 0);
    text-shadow: 2px 6px 1px rgb(184, 172, 172);
    letter-spacing: 2px;
}
.centerDiv{
    margin: 3% 0%;
    width: 60%;
    height: 600px;
    display:flex;
    border-radius: 15px;
    flex-direction: column;  
    align-items: center; 
    justify-content: space-evenly;
    background-color: rgb(23,118,154);
    box-shadow: 15px 15px 12px #0000009d;
    color: white;
    
}

.details{
    margin-top: 0px;
     text-align: center; 
     text-transform: uppercase; 
     }

.details label{
    font-size: 1.7rem;
}
.details input {
    padding: 8px;
    width: 90%;
    color: rgb(255, 255, 255); 
    border: none;
    border-radius: 6px;
    font-size: 25px;
    background-color: rgba(0, 0, 0, 33%);
    }

    input:focus{ 
        outline:none; 
    }


input[type="date"][type="text"]{
    
    font-size: 22px;
    padding: 12px 18px;
    width: 90%;
    border: 1px solid #000;
    box-shadow: none;
}
::-webkit-calendar-picker-indicator{
    background-color:rgb(249 249 249);
    border-radius:8px;
}
/* ------------------------------------------------------------------------------------- */

.imgdiv img {
    position:relative;
    width: 250px;
    height: 250px;
    border: 5px solid black;
    border-radius: 15px;
    background-color: #71ab98;
}

button {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  width: 180px;
  padding: 4px 0;
  border-radius: 10px;
  font-size: 1.5rem;
}

button a{
    text-decoration: none;
}

button:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.801);
  }
